@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .btn {
    @apply flex cursor-pointer 
    hover:bg-ctp-surface2/50 
    base-transition;

    &-icon {
      @apply h-10 w-10 rounded-full;
    }

    &-icon__content {
      @apply m-auto;
    }
  }
}

@layer utilities {
  .base-transition {
    @apply transition-all duration-300 ease-out;
  }
}
